<?php
// module/Pessoa/view/pessoa/pessoa/delete.phtml:

$title = 'Delete pessoa';
$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>


<p>Are you sure that you want to delete
    '<?php echo $this->escapeHtml($pessoa->nome); ?>' by
    '<?php echo $this->escapeHtml($pessoa->cidade); ?>'?
    <span class="label label-danger">Atenção</span>
</p>
<?php
$url = $this->url('pessoa', array(
    'action' => 'delete',
    'id' => $this->id,
        ));
?>

<form action="<?php echo $url; ?>" method="post">
    <div>
        <input type="hidden" name="id" value="<?php echo (int) $pessoa->id; ?>" />
        <input class="btn btn-default" role="button" type="submit" name="del" value="Yes" />
        <input class="btn btn-default" role="button" type="submit" name="del" value="No" />
    </div>

</form>