<?php
$cidade = 'Pessoas';
$this->headTitle($cidade);
?>
<h1><?php echo $this->escapeHtml($cidade); ?></h1>
<p>
    <a href="<?php echo $this->url('pessoa', array('action' => 'create')); ?>"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new person</a>
</p>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Cidade</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($pessoas as $pessoa) : ?>
        <tr>
            <td><?php echo $this->escapeHtml($pessoa->nome); ?></td>
            <td><?php echo $this->escapeHtml($pessoa->cidade); ?></td>
            <td>
                <a href="<?php echo $this->url('pessoa', array('action' => 'update', 'id' => $pessoa->id));
        ?>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

                <a href="<?php echo $this->url('pessoa', array('action' => 'delete', 'id' => $pessoa->id));
        ?>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
