<?php
$title = 'Excluir paciente';
$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>


<p>Tem certeza que deseja excluir
    '<?php echo $this->escapeHtml($paciente->primeiro_nome); ?>' cadastrado desde 
    '<?php echo $this->escapeHtml($paciente->data_cadastro); ?>'?
    <span class="label label-danger">Atenção</span>
</p>
<?php
$url = $this->url('paciente', array(
    'action' => 'delete',
    'id' => $this->id,
        ));
?>

<form action="<?php echo $url; ?>" method="post">
    <div>
        <input type="hidden" name="id" value="<?php echo (int) $paciente->id; ?>" />
        <input class="btn btn-default" role="button" type="submit" name="del" value="Yes" />
        <input class="btn btn-default" role="button" type="submit" name="del" value="No" />
    </div>

</form>