<?php
$title = 'Pacientes';
$this->headTitle($title);
?>
<h1 class="text-"><?php echo $this->escapeHtml($title); ?></h1>
<?php
$url = $this->url('paciente', array(
    'action' => 'index'
        ));
?>





<div class="panel panel-default">
    <div class="panel-heading">
        <form action="<?php echo $url; ?>" method="post">
            <div class="row">
                <div class="col-lg-6 centroVertical">
                    <a href="<?php echo $this->url('paciente', array('action' => 'create')); ?>"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar paciente</a>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Pesquisar por..." name="searchTxt" value="<?php echo $search ?>">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" name="searchBtn" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div>
        <table class="table">
            <tr class="<?php echo count($pacientes) > 0 ? 'success' : 'danger';?>">
                <th>Numero Cadastro</th>
                <th>Data cadastro</th>
                <th>Primeiro nome</th>
                <th>Sobrenome</th>
                <th>Data nascimento</th>
                <th>&nbsp;</th>
            </tr>
            <?php foreach ($pacientes as $paciente) : ?>
                <tr>
                    <td><?php echo $this->escapeHtml($paciente->id); ?></td>
                    <td><?php echo $this->escapeHtml($paciente->data_cadastro); ?></td>
                    <td><?php echo $this->escapeHtml($paciente->primeiro_nome); ?></td>
                    <td><?php echo $this->escapeHtml($paciente->sobrenome); ?></td>
                    <td><?php echo $this->escapeHtml($paciente->data_nascimento); ?></td>
                    <td>
                        <a href="<?php echo $this->url('paciente', array('action' => 'update', 'id' => $paciente->id));
                ?>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

                        <a href="<?php echo $this->url('paciente', array('action' => 'delete', 'id' => $paciente->id));
                ?>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
</div>